# Dataset
dataset/raw/
dataset/severity_data/
*.jpg
*.jpeg
*.png

# Model weights
*.h5
*.pth
*.weights.h5
*.npy

# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
